/* ==========================================================================
   Global Styles
   ========================================================================== */

:root {
  --light: #fffff0;
  /*overrides default light color*/
  --accent: #E07A5F;
  --accent-dark: #C76E56;
  /* used for btn-accent */
  --color-a: #81b29a;
  --color-b: #3d405b;
  --color-b-light: #5F6599;
  /* used for btn-sublte */
  --color-c: #f2cc8f;
  --ff-main: 'Noto Sans JP', sans-serif;
  --ff-accent: 'Noto Serif JP', serif;
  --fw-normal: 300;
  --fw-bolder: 400;
  /* weight only differs for main font family. accent font family has only one weight. -GB 11.27.20 */
  --box-shadow: 0.25rem 0.5rem 5px 0px rgba(0, 0, 0, 0.45);
  --box-shadow-dark: 0.25rem 0.5rem 5px 1.5px rgba(0, 0, 0, 0.55);
  --box-highlight: inset 0.25rem 0.5rem 5px 0px rgba(255, 255, 255, .25);
  --br-heavy: 1rem;
  --br-light: .35rem;
}

.bg-light {
  background-color: var(--light)!important;
}

/* ==========================================================================
   Global Typography & Text Styling
   ========================================================================== */

body, h3, h4, h5, h6 {
  font-family: var(--ff-main);
  font-weight: var(--fw-normal);
}

.navbar-brand, h1, h2 {
  font-family: var(--ff-accent);
}

.navbar-brand {
  font-size: 1.75rem;
}

h2 {
  margin-bottom: 3rem;
  /* h2 margin-bottom matches the padding-top of section */
}

h4 {
  font-size: 1.25rem;
}

a.nav-link {
  text-transform: uppercase;
  font-weight: var(--fw-normal);
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: var(--accent);
  font-weight: var(--fw-bolder);
}

a:hover {
  color: var(--accent-dark);
}

footer p {
  font-size: .75rem;
}

.form-control {
  font-weight: inherit;
  /* this overrides default 400 weight for contact form */
}

/* ==========================================================================
  Global Formatting & Layout
   ========================================================================== */

body {
  padding-top: 5rem;
  background-color: var(--light);
}

.section {
  padding: 3rem 1.5rem;
  text-align: center;
}

img {
  width: 100%;
  /* this makes image fill the container it's in. */
  border-radius: var(--br-light);
}

.cta-button {
  margin: 0 1.5rem;
  /* #cta-button has different styling for desktop */
}

.cta-section h2 {
  font-size: 3rem;
  /* .cta-section h2 has different styling for desktop */
}

.social-icon {
  font-size: 2rem;
  /* .social-icon has different styling for desktop */
}

@media only screen and (min-width: 1024px) {
  /* desktop styling for general formatting and layout */
  .cta-button {
    margin: 0 6rem 1rem 6rem;
  }
  .cta-section h2 {
    font-size: 4rem;
  }
  .social-icon {
    font-size: 3rem;
  }
}

/* ==========================================================================
   Global Button Styling (also applies to links with .btn class)
   ========================================================================== */

/* used this site to produce styling for btn-accent and .btn-subtle: https://blog.koalite.com/bbg/ on 11/23/20 */

.btn {
  border-radius: 3rem!important;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: inherit;
  padding: .75rem 1.15rem;
}

/* ========== btn-accent (red) ========== */

.btn-accent {
  color: #FFFFFF;
  background-color: var(--accent);
  border-color: var(--accent);
}

.btn-accent:hover, .btn-accent:focus, .btn-accent:active, .btn-accent.active, .open .dropdown-toggle.btn-accent {
  color: #FFFFFF;
  background-color: var(--accent-dark);
  border-color: var(--accent-dark);
}

.btn-accent:active, .btn-accent.active, .open .dropdown-toggle.btn-accent {
  background-image: none;
}

.btn-accent.disabled, .btn-accent[disabled], fieldset[disabled] .btn-accent, .btn-accent.disabled:hover, .btn-accent[disabled]:hover, fieldset[disabled] .btn-accent:hover, .btn-accent.disabled:focus, .btn-accent[disabled]:focus, fieldset[disabled] .btn-accent:focus, .btn-accent.disabled:active, .btn-accent[disabled]:active, fieldset[disabled] .btn-accent:active, .btn-accent.disabled.active, .btn-accent[disabled].active, fieldset[disabled] .btn-accent.active {
  background-color: var(--accent);
  border-color: var(--accent);
}

.btn-accent .badge {
  color: var(--accent);
  background-color: #FFFFFF;
}

/* ========== btn-accent (blue) ========== */

.btn-subtle {
  color: #ffffff;
  background-color: var(--color-b);
  border-color: var(--color-b);
}

.btn-subtle:hover, .btn-subtle:focus, .btn-subtle:active, .btn-subtle.active, .open .dropdown-toggle.btn-subtle {
  color: #ffffff;
  background-color: var(--color-b-light);
  border-color: var(--color-b-light);
}

.btn-subtle:active, .btn-subtle.active, .open .dropdown-toggle.btn-subtle {
  background-image: none;
}

.btn-subtle.disabled, .btn-subtle[disabled], fieldset[disabled] .btn-subtle, .btn-subtle.disabled:hover, .btn-subtle[disabled]:hover, fieldset[disabled] .btn-subtle:hover, .btn-subtle.disabled:focus, .btn-subtle[disabled]:focus, fieldset[disabled] .btn-subtle:focus, .btn-subtle.disabled:active, .btn-subtle[disabled]:active, fieldset[disabled] .btn-subtle:active, .btn-subtle.disabled.active, .btn-subtle[disabled].active, fieldset[disabled] .btn-subtle.active {
  background-color: var(--color-b);
  border-color: var(--color-b);
}

.btn-subtle .badge {
  color: var(--color-b);
  background-color: #ffffff;
}

/* ==========================================================================
   Homepage Styles
   ========================================================================== */

.hero h1 {
  font-size: 4rem;
  /* .hero h1 has different styling for desktop */
}

.homepage-card {
  /* background color is set for each individual section */
  border-radius: var(--br-heavy);
  box-shadow: var(--box-shadow), var(--box-highlight);
  margin: 5rem 0;
}

#featured-work {
  background-color: var(--color-a);
}

#my-services {
  background-color: var(--color-b);
  color: white;
}

.my-services__icon {
  font-size: 3.5rem;
  /* .my-services__icon has different styling for desktop */
}

#featured-work li {
  padding: .5rem 0;
}

.featured-work__icon {
  font-size: 1.5rem;
  padding: .25rem;
}

#about-me {
  background-color: var(--color-c);
}

@media only screen and (min-width: 1024px) {
  /* desktop styling for Homepage */
  .hero h1 {
    font-size: 5rem;
  }
  .homepage-card {
    padding: 4rem;
  }
  .my-services__icon {
    font-size: 4.5rem;
    margin-bottom: 1.25rem;
  }
}

/* ==========================================================================
   Portfolio Page Styles
   ========================================================================== */

/* used w3 tutorial for image hover overlay: https://www.w3schools.com/howto/howto_css_image_overlay.asp on 12/2/20 */

.image-container {
  position: relative;
  /* need to set width here? */
  padding: 0 15px;
  /* padding must be set to 15px on left and right to match the padding of the .col-md-#, otherwise gray overlay is larger than image */
  
}

.image {
  display: block;
  height: 100%;
  /* setting 100% height ensures that each image matches height of row */
  box-shadow: var(--box-shadow);
  object-fit: cover;
  object-position: 0 0;
  /* object-fit makes img fit space and clips it, -position at 0 0 has it aligned top left */
  transition: .5s ease;
  /* TODO how to make image get bigger on hover? https://jsfiddle.net/cshao/Lrqu8L0q/1/ */
}

.image-info-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  border-radius: var(--br-light);
  /* matches the border-radius for all img */
  opacity: 0;
  transition: .5s ease;
  background-color: gray;
  /* TODO set background-color to color within the color palette */
}

.image-container:hover .image-info-overlay {
  opacity: .85;
  box-shadow: var(--box-shadow-dark);
}

.image-info-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.image-info-text a {
  color: var(--color-c);
}

/* ==========================================================================
   Project Page Styles
   ========================================================================== */
